.input-filter{ 
    width: 153px;
    margin-left: 80rem;
    margin-top: 0rem;
    background: transparent;
    background-image: url("../img/search.svg");
    background-position: left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    display: block;
}

.input-filter::placeholder{
    padding-left: 1rem;
}