.input-filter{ 
    width: 132px;
    margin-left: 40.5rem;
    margin-top: 5rem;
    background: transparent;
    background-image: url("../img/search.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */


}

placeholder{
    text-align: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}