/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: #0d6efd;
}

body {
    padding-top: 5vh;
    background-size: cover;
    background-position-y: -150px;
}

/* form */

#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

.inputLivro {
    width: 60%;
    transform: translateX(90px);
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #0d6efd;
}

input[type="submit"] {
    background-color: #0d6efd;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    opacity: 1;
    transition: all ease 0.3s;
}

input[type="submit"]:hover {
    opacity: 0.7;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
} 

.obs {
    font-size: 12px;
    font-weight: 400;
    color: rgb(153, 153, 153);
    padding-top: 5px;
}

.teste{
    border-radius: 5px;
    background-color: blue;
    color: black;
}