*{
	box-sizing:border-box;
}

body{
    background: rgb(255, 255, 255);
    
  }

  textarea{
    padding: 15px;
    margin: 10px 150px;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 20px;
  }

  .chat {
    background: rgb(255, 255, 255);
    padding: 10px 30px;
    margin: 20px 150px;
    border-style: solid;
    border-color: black;
  }
  
  * {
    outline: 0;
  }
  
  .time {
    text-align: center;
    margin-bottom: 10px;
  }
  .time span {
    background-color: #000000;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    padding: 2px 20px;
    color: #fff;
    opacity: 0.3;
    
  }
  .message {
    margin-bottom: 10px;
  }
  .message .messageText {
    text-align: left;
    color: #FFFFFF;
  }
  .message.sol {
    text-align: left;
  }
  .message.sag {
    text-align: right;
  }
  
  .message .messageText {
    background-color: #08558b;
    vertical-align: text-top;
    display: inline-block;
    position: relative;
    line-height: 20px;
    max-width: 165px;
    color: #FFFFFF;
    padding: 10px;
  }
  
  .message.sag .userPortrait,
  .message.sol .messageText {
    border-radius: 0 5px 5px 0;
  }
 
  .message.mtLine.sag .messageText {
    border-radius: 5px 0 0 5px;
  }
  .message .messageText:before {
    border-color: transparent #08558b;
    border-style: solid;
    position: absolute;
    border-width: 0;
    display: block;
    content: "";
    z-index: 1;
  }
  .message.sol .messageText:before {
    border-width: 0 10px 10px 0;
    left: -10px;
    top: 0;
  }
  .message.sag .messageText:before {
    border-width: 10px 0 0 10px;
    right: -10px;
    top: 30px;
  }
  .message .messageText:after {
    content: attr(data-time);
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    line-height: 20px;
    display: block;
    bottom: 2px;
    z-index: 1;
  }
  .message.sol .messageText:after {
    margin-left: 5px;
    left: 100%;
  }
  .message.sag .messageText:after {
    margin-right: 5px;
    right: 100%;
  }

  /*Style antigo <--- */

body{
	background-color: white;
	font-family:Arial;
}
#container{
	width:750px;
	height:800px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:260px;
	height:800px;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:490px;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#5e616a;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:110px;
	padding:30px 20px 30px 40px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:375px;
}

main footer{
	height:155px;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:100px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
	transform: translateX(550px);
}
main footer textarea::placeholder{
	color:#ddd;
}

main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
	transform: translateX(550px);
}